$tdSize : 27;
body{
    margin: 0;
	text-align:center;
	font-family: sans-serif;
	font-size: 16px;
	background-color: #e0e0e0;
	background-image: url(img/phone.png);
	background-repeat:no-repeat;
	background-position: top;
}

.unplayable{
  position: fixed;
  background: rgba(255,255,255,0.8);
  width: 100%;
  @media(min-width: 750px){
    display: none;
  }
}

h2{
    margin-top: 10px;
	color: #4e4e4e;
}

#lost{
	font-family: monospace;
	width: 200px;
	height: 150px;
	position:fixed;
	top: 400px;
	left: 50%;
	background: rgba(89, 173, 125, 0.76);
	border-radius: 5px;
	border: 2px solid #afd7c0;
	margin-top: -100px;
	margin-left: -100px;
	color: #262726;
	font-size: 1.2em;
	
	h3{
		font-size: 1.8em;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.instructions{
		margin-top:10px;
		opacity: 0.8;
	}
}

.show{
	display:block;
}

.hide{
	display:none;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
  
    li{
      cursor: pointer;
      color: #4a4a4a;
      
	   &:hover{
	   	 color:red;
	   }
      
      &.selected{
          font-weight:bold;
          cursor: default;
          &:hover{
            color: #4a4a4a;
          }
      }
    }
  
	#normalSpeed{
		margin: 50px 0 22px 0;
		font-size: 20px;
	}
	
	#slowSpeed, #fastSpeed{
		margin: 5px 50px;
		display:inline-block;
	}
	#slowSpeed{
		display:inline-block;
        transform: rotate(30deg);
	}
	#fastSpeed{
		display:inline-block;
        transform: rotate(-30deg);
	}	
  
	
}

#playField{
  margin: 225px auto 0px auto;
  border: none;
  border-spacing: 0;

   td{
     width: $tdSize + px;
     height: $tdSize + px;
     border: none;
     padding: 0;
     margin: 0;
   }
}

.snakeHead {
  background-image: url(img/sprite.png);
}

.snakeBody {
  background-image: url(img/sprite.png);
}

.apple {
  background-image: url(img/sprite.png);
}